*.pyc
temp-*.crt
config.cfg
.venv
*.sw[op]
certs/*.crt
dist/*
build/*
.tox/*
.DS_Store
*.egg
*.egg-info
.testrepository
build/*
cover/*
.cover
.coverage
doc/build
.eggs/
pep8.txt
AUTHORS
ChangeLog

# mentioned in README for test/bootstrap
anchor-test.example.com.key
anchor-test.example.com.csr
CA/serial
CA/*.key
CA/*.crt
