CA_CERT = "CA/root-ca.crt"
CA_KEY = "CA/root-ca-unwrapped.key"
CERTS_DIRECTORY = "certs"
VALID_HOURS = 24
SIGNING_HASH = "sha1"

BIND_HOST = "0.0.0.0"
BIND_PORT = 5000

DEBUG = True

LDAP_HOST = "aw2clouddc01.hpcloud.ms"
LDAP_DOMAIN = "hpcloud.ms"
LDAP_BASE = "CN=Users,DC=hpcloud,DC=ms"

BACKDOOR_AUTH = True

ALLOWED_DOMAINS = ['.hpcloud.net', 'clark.com']
GROUP_PREFIXES = {
    'nv': 'Nova_Team',
    'sw': 'Swift_Team',
    'bk': 'Bock_Team',
    'gl': 'Glance_Team',
    'cs': 'CS_Team',
    'mb': 'MB_Team',
    'ops': 'SysEng_Team',
    'qu': 'Neutron_Team',
    }
ALLOWED_EXTENSIONS = ['keyUsage', 'subjectAltName', 'basicConstraints', 'subjectKeyIdentifier']
ALLOWED_USAGE = ['Digital Signature', 'Key Encipherment', 'Non Repudiation', 'Certificate Sign', 'CRL Sign']

VALIDATORS = [
    ('common_name',),
    ('alternative_names',),
    ('server_group',),
    ('extensions',),
    ('key_usage',),
    ('ca_status', {'ca_requested': False}),
    ]
